*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  color: #dedede;
  padding: 10px;
}

.heart {
  color: rgb(233, 105, 105);
  font-size: 1.4rem
}

.main-section {
  flex: 2;
  overflow: auto;
  padding: 5px;
}

.empty-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  padding: 10px;
  width: 50%;
  background-color: rgba(0,0,0,0.4);
}

.modal {
  z-index: 30;
  position: absolute;
  top: calc(50% - 45vh);
  width: 80vw;
  height: 90vh;
  align-self: center;
  justify-self: center;
  background-color: #333;
  padding: 10px;
  border: 1px solid;
}

#add-item {
  padding: 14px;
  background-color: rgba(0,0,0,0.2)
}